body{
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #a2a2a2;
    height: 600px;
    width: 600px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.box{
    height: 80px;
    width: 80px;
    background-color: #000000;
    border-radius: 12px;
    margin: 12px;
}

.box1{
    border: 3px solid #00fffc;
}
.box2{
    border: 3px dashed #00fffc;
}
.box3{
    border: 3px dotted #00fffc;
}
.box4{
    border: 3px double #00fffc;
}
.box5{
    border: 3px groove #00fffc;
}